<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key ="LastLogin" value ="9"/>
  </appSettings>
    <connectionStrings>
        <add name="HManager.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=127.0.0.1;Initial Catalog=HManager;Integrated Security=True;Pooling=False" />
        <add name="DevTest.Properties.Settings.HManagerConnectionString"
            connectionString="Data Source=XTPSHome1;Initial Catalog=HManager;Persist Security Info=True;User ID=sa;Password=rtmart;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
